/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/*======================start here========================*/
body{width:80%;
	margin:0 auto;}
	
#mainpage{z-index:-100;
	}

	
img {display:inline-block;
	width:100%;}

.bx-wrapper img {margin: 0 auto;}

.bx-wrapper iframe{margin: 0 auto;}	

#video{margin:0 auto;
	text-align:center;
	width:100%;}

li {list-style:none;
	color:black;
	text-decoration:none;
	float:right;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	padding:.5em;
	}
	
a{text-decoration:none;
	color:black;}
	
#hello{text-align:center;}


nav{
	position:fixed;
	right:0;
	margin:0 auto;
	background-color:rgba(255,255,255,.8);
	
	}
	
nav a:hover {
	color:cyan;
	}

.classCurrent{color:magenta;}


#header-wrapper{
	height:20px;
	width:200px;
	padding:1em;
	margin: 0 auto;

}

nav {
	z-index:1;
}

#infobutton{width:1em;
	height:1em;
}


h1{font-family: 'Montserrat', sans-serif;
text-transform:uppercase;
}

h2{font-family: 'Montserrat', sans-serif;
text-transform:uppercase;
}

p{font-family: 'EB Garamond', serif;
line-height:1.3em;}

.hello{
	position: relative;
	text-align:center; 
}

.hello h1 { 
   position: absolute; 
   bottom: 90px; 
   width: 100%;
	}
	
.info {
	position:absolute;
	color:white;
	bottom:0;
	background-color:rgba(0,0,0,.8);
	padding:50px;
	}

.work {
	position:relative;
	}

.infobutton {
	width:30px;
	position:absolute;
	top:20px;
	right:20px;
	}

.info { display:none; }
	
.show-info {
	position: absolute;
	bottom: 15px;
	right: 50px;
	z-index: 50;
}

.show-info img {
	width:30px;
}

footer{text-align:center;
	}
	
#copyright {

	display:inline-block;
	color:white;
	background-color:black;
	height:2.5em;
	width:100%;}
	
	
	
	
		.big_wrapper {
			margin:0 auto;	
		}
		div.wrapper{  
		    margin:auto 0; /* important */  
		    position:relative; /* important(so we can absolutely position the description div */  
		}  
		div.description{  
		    position:absolute; /* absolute position (so we can position it where we want)*/  
		 
		margin:0 auto;   
		bottom:45%; /* position will be on bottom */    
		    width:100%;  
		
		    /* styling below */      
		    font-size:1em;
		    color:black;  
		    /* opacity:0.6; /* transparency */  
		    /*filter:alpha(opacity=60); /* IE transparency */  
		}  
		p.description_content{  
		    padding:10px;  
		    margin:0px;
		}	

