

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================START HERE======================*/


body{
width:100%;}

#site-header{background-color:#eff4da;
	width:80%;
	height:150px;
	margin:0 auto;}
	
	/*delete this to fix the mess*/	
#site-header h1 a {
	display:block;  
	 width:100%; 
	 height:150px;  
	 background:url(images/logo.png) no-repeat top left; 
	 text-indent:-9999px;}

#site-wrapper{
	background-color:#eff4da;}


#logo{float:left;
	}
#topnav{float:right;}

header nav {
	float:right;
	font-family:arial;
	color:#885c32;
}

header nav a{
	text-decoration:none;
	font-family:arial;
	color:#885c32;
	margin: 0px;
}

#menu-wrapper{background-color:#885c32;
	height:35px;
	padding:5 px;
	
}

#logo{
	background:#eff4da;}

#main-menu{
	
	margin:0 auto;
	width:80%;
}

#main-menu ul li a{
	
	
	float:left;
	text-decoration:none;
	color:white;
	padding:10px;
	text-transform:uppercase;
	font-family:arial;
	font-style:bold;
	
}
	
	#content-wrapper{
		width:80%;
		margin:0px auto;
	padding:20px 0px 20px 0px;}
	
	article{width:60%;
		float:left;
	}
	
	article h1{
		color:#885c32;
		font-family:arial;
		font-style:bold;
		text-transform:uppercase;
		font-size:18pt;
		line-height:1.3em;
		padding:0px 0px 10px 0px;

		}
		
	article h2{
		color:#885c32;
		font-family:arial;
		font-style:bold;
		text-transform:uppercase;
		font-size:14pt;
		line-height:1.3em;
		padding:0px 0px 8px 0px;
	
	}
	
	article p{
		font-family:arial;
		font-size:11pt;
		line-height:1.3em;
		padding:0px 0px 5px 0px;
	
	}
	
	#page{background:white;}
		
	
	#sidebar{float:right;
		width:30%;
		margin:0px 0px 10px 0px;}
	
			
	aside h1{
		color:#885c32;
		font-family:arial;
		font-style:bold;
		text-transform:uppercase;
		font-size:14pt;
		line-height:1.3em;
		padding:0px 0px 5px 0px;
	}
	
	#sidebar ul li a{
		text-decoration:none;
		color:#885c32;
		font-family:arial;
		line-height:1.3em;
	}
	
	#footer-wrapper{
		clear:both;
		width:100%;
		margin: 0px auto;
		height:150px;
		background-color:#885c32;
		padding:20px 0px 0px 0px;
	}		
			
	footer{
		
		clear:both;
width:80%;
margin:0px auto;
		height:150px;
		background-color:#885c32;
	}
footer h1{
	font-family:arial;
	text-transform:uppercase;
	color:beige;
	
}

footer p{
	font-family:arial;
	font-size:11pt;
	line-height:1.3em;
	color:white;
}

#footer-contact{
	float:left;
	width:200px;
	
}

#footer-follow{
	float:right;
	width:300px;
	
}

#footer-follow ul li a{
	float:left;
}